# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Git
.git/
.gitignore

# Project specific
notasParaCorrer.txt
info/
*.md
Dockerfile
compose.yaml
.dockerignore
